<div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg');">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-9 mx-auto text-center">
          <h1 class="text-white">Contact</h1>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <form #matchForm="ngForm" (ngSubmit)='addStadium()'>
            <div class="form-group">
              <input type="text" class="form-control" [(ngModel)]='stadium.name' [ngModelOptions]="{standalone: true}"
                placeholder="name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" [(ngModel)]='stadium.country' [ngModelOptions]="{standalone: true}"
                placeholder="country">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" [(ngModel)]='stadium.capacity' [ngModelOptions]="{standalone: true}"
                placeholder="capacity">
            </div>
           
  
            <!-- multer -->
            <!-- <button type="button" (click)='filePicker.click()' class="btn btnsuccess">Sélectionner image</button>
            <div class="form-group">
              <input style="visibility: hidden;" type="file" class="form-control" #filePicker
                (change)='onImageSelected($event)' />
            </div>
            <img [src]="imagePreview" height="100px" width="100px"> -->
            <div class="form-group">
              <button type="submit" class="btn btn-primary py-3 px-5">Add</button>
            </div>
          </form>
        </div>